<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package key="Microsoft.AspNet.OData" version="6.0.0" targetFramework="net452" />
  <package key="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package key="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package key="Microsoft.AspNet.WebApi.SelfHost" version="5.2.3" targetFramework="net452" />
  <package key="Microsoft.Extensions.DependencyInjection" version="1.0.0" targetFramework="net452" />
  <package key="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="net452" />
  <package key="Microsoft.OData.Core" version="7.0.0" targetFramework="net452" />
  <package key="Microsoft.OData.Edm" version="7.0.0" targetFramework="net452" />
  <package key="Microsoft.Spatial" version="7.0.0" targetFramework="net452" />
  <package key="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package key="System.Collections" version="4.0.11" targetFramework="net452" />
  <package key="System.Collections.Concurrent" version="4.0.12" targetFramework="net452" />
  <package key="System.ComponentModel" version="4.0.1" targetFramework="net452" />
  <package key="System.Diagnostics.Debug" version="4.0.11" targetFramework="net452" />
  <package key="System.Globalization" version="4.0.11" targetFramework="net452" />
  <package key="System.Linq" version="4.1.0" targetFramework="net452" />
  <package key="System.Linq.Expressions" version="4.1.0" targetFramework="net452" />
  <package key="System.Reflection" version="4.1.0" targetFramework="net452" />
  <package key="System.Resources.ResourceManager" version="4.0.1" targetFramework="net452" />
  <package key="System.Runtime.Extensions" version="4.1.0" targetFramework="net452" />
  <package key="System.Threading" version="4.0.11" targetFramework="net452" />
  <package key="System.Threading.Tasks" version="4.0.11" targetFramework="net452" />
</packages>